.flex{
    display: flex;
    justify-content: space-around;
}

.flex2{
    display: flex;
    justify-content: flex-start;
}
.flexEnd{
    display: flex;
    align-items: flex-end;
}

h1{
    padding: 3px;
}

div{
    background-color: rgb(219, 207, 207);
    padding: 8px;
    width: 75px;
    margin: 5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 1px gray;
    border-radius: 8px;
}

div:hover{
    cursor: pointer;
}

legend{
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    margin: 5px;
    padding-left: 8px;
    border: solid 1px gray;
    border-radius: 8px;
}