@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700&display=swap');

body{
    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    color: blue;
}

.header.header_title{
    font-size: 2.5rem;
    margin: 40px 0px;
}

.main_container{
    display: flex;
    flex-direction: column;
    
}

.main_container .vs_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: blue 8px solid;
    padding: 50px 50px 20px 50px;
    border-radius: 25px;
    margin-bottom: 50px;
    background-color: aqua;
    font-weight: 700;
    font-size: 1.2rem;
}

.main_container .vs_container .player{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_container .vs_container img{
    height: 180px;
    width: auto;
}

.main_container .vs_container .vs{
    margin: 0px 50px;
}

img{
    width: 55px;
}

.main_container .game_container .game_options{
    display: flex;
    flex-direction: row;

}

.main_container .game_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_container .game_container .game_options button, .main_container .start_game button {
    margin: 0px 20px 40px 20px;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px gray;
    border: solid 3px black;
    cursor: pointer;
    background-color:rgb(182, 253, 255);
    transition: all 0.5s;
}
.main_container .game_container .game_options button:hover, .main_container .start_game button:hover {
    background: rgb(80, 80, 192);
}
.main_container .game_container .game_options img, .main_container .start_game button img{
    height: 80px;
    width: auto;
}

.main_container .game_container .details{
    border: solid 10px blue;
    border-radius: 25px;
    padding: 20px 110px;
    background-color: aqua;
}

.main_container .start_game{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}